 @import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  font-family: 'Fira Sans';
}
/* Type */
h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
}
h2{
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
h3{
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}
p{
  font-size: 1em;
    
}
a:link{
  color: $light-green;    
}
a:visited{
  color: $dark-green;
}
a:hover{
   color: $light-green; 
}
a:active{
   color: $light-green; 
}

/* Colors */

.colors{
    width:150px;
    height:100px;
    margin-bottom:20px;
    padding:15px;
    display:inline-block; /* Like floats, but easier */
}


.pattern{
    width:300px;
    height:200px;
    margin-bottom:20px;
    padding:15px;
    display:inline-block; /* Like floats, but easier */
}

.main1{
    background-color: $light-green;
    color: #666;
    font-weight: 600;
}
.main2{
    background-color: $blue-green;
    color: #fff;
    font-weight: 600;
}
.main3{
    background-color:#5C6B45;
    color: #fff;  
    font-weight: 600;
}
.secondary1{
    background-color: #F3908A;
    color: #fff;
    font-weight: 600;
}
.secondary2{
    background-color: #FCE1A9;
    color: #666;
    font-weight: 600;
}
.secondary3{
    background-color: #65666A;
    color: #fff;
    font-weight: 600;
}

.pattern-1 {
  background-attachment: fixed;
  background-image: url("../images/pattern_1.png");
}
.pattern-3 {
  background-attachment: fixed;
  background-image: url("../images/pattern_2.png");
}
.pattern-2 {
  background-attachment: fixed;
  background-image: url("../images/pattern_2.png");
}

/* Forms and buttons */
/* Skeleton comes with defaults that you may wish to remove.  Look in Skeleton.css so see how each element has been styled. Make any changes by copying the selector to this sheet */

label{
  /* display: inline; */ /* Enable this line to have labels inline with the form field. Note how divs are used to create a new line */
}
input[type="radio"]{
  display: inline; 
}

.animations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  input {
    width: 6em;
  }
  svg {
    min-width: 22em;
  }
  button {
    margin-left: 2em;
  }
}

#svg2 {
  height: 40em;
  width: 312em;
}
