.item {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  @include breakpoint($tablet) {
    flex-direction: row;
  }

}
.item-right {
  background-color: $light-green;
  @include breakpoint($tablet) {
  }
  .item-icon{
      @include breakpoint($tablet) {
        order: 0;
      }
  }
  .text {
    @include breakpoint($tablet) {
      order: 1;
    }
    color: white;
  }
}
.item-left {
  background-color: $blue-green;
  .item-icon {
      @include breakpoint($tablet) {
    }
  }
  .text {
    @include breakpoint($tablet) {
      text-align: right;
    }
    color: white;
  }
}
.text {
  max-width: 20em;
  align-self: center;
}
.item-icon{
  align-self: center;
  max-height: 10em;
}

.items-cert {
  @include breakpoint($tablet) {
  }
  background-color: $light-green;
  h2 {
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
    color: white;
  }
  .icon-gal{ 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    @include breakpoint($tablet) {
      flex-direction: row;
    }
    div {
      align-self: center;
      p {
        color: white;
        text-align: center;
        font-size: 1.2em;
      }
      margin-right: 2em;
    svg {
      height: 8em;
      width: 8em;
      background-color: white;
      border-radius: 100%;
    }
    }
  }
  padding-bottom: 3em;
}

