{% extends "layout.html" %}

{% block content %}

<!--<canvas style="width: 800px; height:600px;"id="three"> </canvas>-->

<header id="header"> 
  <div class="header-logo">
    <svg class="header-text"> 
       <use xlink:href="#header-text"></use>
    </svg>
  </div>
  <div class="header-line">
    <h1> Sustainability <br> Consulting </h1>
    <ul>
      <li> Energy Benchmarking </li>
      <li> LEED Certification </li>
      <li> Materials </li>
    </ul>
  </div>
 
</header>
<div class="arrow">
  <a id="start-container">
    <svg> 
     <use xlink:href="#arrow"></use>
  </svg>
  </a>
</div>

<div class="l-container"> 
  <a ></a>

  <div class="item item-right">
    <div class="text">
      <h2> Energy <br> Benchmarking</h2> 
      <p> 
      Our tried and true industry standard practices will make sure your buildings
      run at peak efficiency. Our certified and trained staff will make sure the
      job get's done and done well. 
      </p>
    </div>
    <svg class="item-icon"> 
       <use xlink:href="#plug"></use>
    </svg>
  </div>

  <div class="item item-left">
    <div class="text">
      <h2> LEED <br> Certification </h2> 
      <p> 
      We are LEED certified. We make sure all our practices adhere to the
      comprehensive system of interrelated standards covering aspects from the
      design and construction to the maintenance and operation of buildings.
      </p>
    </div>
    <svg class="item-icon"> 
       <use xlink:href="#leed"></use>
    </svg>
  </div>

  <div class="items-cert">
    <h2> Certified Materials </h2>
    <div class="icon-gal">
      <div>
        <a href="services.html#paint_nav">
          <p>Paint</p>
          <svg class="item-icon"> 
             <use xlink:href="#paint"></use>
          </svg>
        </a>
      </div>
      <div>
        <a href="services.html#roof_nav">
          <p>Roofing</p>
          <svg class="item-icon"> 
             <use xlink:href="#roof"></use>
          </svg>
        </a>
      </div>
      <div>
        <a href="services.html#wall_nav">
          <p>Walling</p>
          <svg class="item-icon"> 
             <use xlink:href="#wall"></use>
          </svg>
        </a>
      </div>
      <div>
        <a href="services.html#floor_nav">
          <p>Flooring</p>
          <svg class="item-icon"> 
             <use xlink:href="#floor"></use>
          </svg>
        </a>
      </div>
      <div>
        <a href="services.html#window_nav">
          <p>Windows</p>
          <svg class="item-icon"> 
             <use xlink:href="#window"></use>
          </svg>
        </a>
      </div>
    </div>
    
  </div>


</div>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>
  <script src="js/smooth_scroll.js"></script>
{% endblock %}
