<html>
<head>
    <meta charset="UTF-8">
    <title>Sweet New Website</title>
    <link rel=StyleSheet href="css/style.css" TYPE="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<nav>
  <svg class="logo"> 
     <use xlink:href="#logo"></use>
  </svg>
  <li class="nav-item">
    <a href="index.html">Home</a>
  </li>
  <li class="nav-item">
    <a href="services.html">Services</a>
  </li>
  <li class="nav-item">
    <a href="#">About</a>
  </li>
</nav>
  <div id="svg-iconset">
    {% include "symbol/svg/sprite.symbol.svg" %}
  </div>
    {% block content %}{% endblock %}
    <footer>
    </footer>
		<!--script
			  src="http://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script-->
		
    <!-- <script src="js/three.js"></script>
    <script src="js/collada.js"></script>
    <script src="js/script.js"></script> -->
    <script src="js/background.js"></script>
</body>
</html>
