<html>
<head>
    <meta charset="UTF-8">
    <link rel=StyleSheet href="css/style.css" TYPE="text/css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Faxian </title>
    {% block header %}
    {% endblock %}
</head>

<body>
<nav>
  <svg class="logo"> 
     <use xlink:href="#logo"></use>
  </svg>
  <li class="nav-item">
    <a href="index.html">Home</a>
  </li>
  <li class="nav-item">
    <a href="services.html#paint_nav">Services</a>
  </li>
  <li class="nav-item">
    <a href="#">About</a>
  </li>
</nav>
  <div id="svg-iconset">
    {% include "symbol/svg/sprite.symbol.svg" %}
  </div>
    {% block content %}{% endblock %}
    <footer>
      <ul>
          <li class="nav-item"><a href="mailto:pcvonz@gmail.com"><p> faxian@faxian.com</p></a></li>
          <li class="nav-item">Sustainability Matters</li>
      </ul>
    </footer>
		<!--script
			  src="http://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script-->
		
    <!-- <script src="js/three.js"></script>
    <script src="js/collada.js"></script>
    <script src="js/script.js"></script> -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/fullpage.js/dist/jquery.fullpage.js"></script>
    <script src="js/init_fullpage.js"></script>
    {% block scripts %}
    {% endblock %}
    <!--script src="js/background.js"></script-->
</body>
</html>
