
{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="lib/fullpage.js/dist/jquery.fullPage.css" />
{% endblock %}

{% block content %}

<div id="fullpage">
  <div data-anchor="paint" class="section fp-auto-height-responsive l-full-height">
      <div class="header-text">
        <h1> Paint </h1>
        <p> 
          Neque molestiae repellat iusto aspernatur recusandae quisquam sit non.
          Aut sequi voluptatum ex. Quod omnis officiis dolor aut consequatur enim et.
          Asperiores aut ipsum ut est voluptatem aut repellendus. Cumque accusamus
          doloremque laudantium fugit cum fugiat culpa.
        </p>
        <p>
          Officia laboriosam placeat cumque ad qui omnis earum aut. Omnis ab iste id
          sapiente in consequatur dolore enim. Dolor voluptatibus doloremque est
          similique et. Est distinctio similique porro saepe vel quibusdam. Vel vero
          nostrum ad pariatur consectetur architecto tempore consequatur.  </div>
        </p>
  </div>

  <div data-anchor="roofing" class="section fp-auto-height-responsive l-full-height">
      <div class="header-text">
        <h1> Roofing </h1>
        <p> 
          Neque molestiae repellat iusto aspernatur recusandae quisquam sit non.
          Aut sequi voluptatum ex. Quod omnis officiis dolor aut consequatur enim et.
          Asperiores aut ipsum ut est voluptatem aut repellendus. Cumque accusamus
          doloremque laudantium fugit cum fugiat culpa.
        </p>
        <p>
          Officia laboriosam placeat cumque ad qui omnis earum aut. Omnis ab iste id
          sapiente in consequatur dolore enim. Dolor voluptatibus doloremque est
          similique et. Est distinctio similique porro saepe vel quibusdam. Vel vero
          nostrum ad pariatur consectetur architecto tempore consequatur.  </div>
        </p>
  </div>
  <div data-anchor="wall" class="section fp-auto-height-responsive l-full-height">
      <div class="header-text">
        <h1> Wall </h1>
        <p> 
          Neque molestiae repellat iusto aspernatur recusandae quisquam sit non.
          Aut sequi voluptatum ex. Quod omnis officiis dolor aut consequatur enim et.
          Asperiores aut ipsum ut est voluptatem aut repellendus. Cumque accusamus
          doloremque laudantium fugit cum fugiat culpa.
        </p>
        <p>
          Officia laboriosam placeat cumque ad qui omnis earum aut. Omnis ab iste id
          sapiente in consequatur dolore enim. Dolor voluptatibus doloremque est
          similique et. Est distinctio similique porro saepe vel quibusdam. Vel vero
          nostrum ad pariatur consectetur architecto tempore consequatur.  </div>
        </p>
  </div>
  <div data-anchor="flooring" class="section fp-auto-height-responsive l-full-height">
      <div class="header-text">
        <h1> Flooring </h1>
        <p> 
          Neque molestiae repellat iusto aspernatur recusandae quisquam sit non.
          Aut sequi voluptatum ex. Quod omnis officiis dolor aut consequatur enim et.
          Asperiores aut ipsum ut est voluptatem aut repellendus. Cumque accusamus
          doloremque laudantium fugit cum fugiat culpa.
        </p>
        <p>
          Officia laboriosam placeat cumque ad qui omnis earum aut. Omnis ab iste id
          sapiente in consequatur dolore enim. Dolor voluptatibus doloremque est
          similique et. Est distinctio similique porro saepe vel quibusdam. Vel vero
          nostrum ad pariatur consectetur architecto tempore consequatur.  </div>
        </p>
  </div>
  <div data-anchor="windows" class="section fp-auto-height-responsive l-full-height">
      <div class="header-text">
        <h1> Windows </h1>
        <p> 
          Neque molestiae repellat iusto aspernatur recusandae quisquam sit non.
          Aut sequi voluptatum ex. Quod omnis officiis dolor aut consequatur enim et.
          Asperiores aut ipsum ut est voluptatem aut repellendus. Cumque accusamus
          doloremque laudantium fugit cum fugiat culpa.
        </p>
        <p>
          Officia laboriosam placeat cumque ad qui omnis earum aut. Omnis ab iste id
          sapiente in consequatur dolore enim. Dolor voluptatibus doloremque est
          similique et. Est distinctio similique porro saepe vel quibusdam. Vel vero
          nostrum ad pariatur consectetur architecto tempore consequatur.  </div>
        </p>
  </div>
</div>

  <div class="l-side-nav">
    <svg id="svg">
    </svg>
    <ul>
      <li class=""><a id="paint_nav" href="#paint_nav">Paint</a></li>
      <li class=""><a id="roof_nav" href="#roof_nav">Roofing</a></li>
      <li class=""><a id="wall_nav" href="#wall_nav">Wall</a></li>
      <li class=""><a id="floor_nav" href="#floor_nav">Flooring</li></a>
      <li class=""><a id="window_nav" href="#window_nav">Windows</li></a>
    </ul>
  </div>
  <!--div class="l-bottom-menu"> 
    <ul>
      <a href="#"><li class="nav-item">Paint</li></a>
      <a href="#"><li class="nav-item">Roofing</li></a>
      <a href="#"><li class="nav-item">Wall</li></a>
      <a href="#"><li class="nav-item">Flooring</li></a>
    </ul>

  </div-->


{% endblock %}

{% block scripts %}
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="js/snap.svg.js"></script>
  <script src="js/background.js"></script>
  <script src="lib/fullpage.js/vendors/scrolloverflow.js"></script>
  <script src="lib/fullpage.js/dist/jquery.fullpage.js"></script>
  <script src="js/init_fullpage.js"></script>
{% endblock %}
