@keyframes animatedBackground {
  from { 
    background-position: 0 0; 
  }
  to { 
    background-position: 500px 500px; 
  }
}

header {
  background-image: url("../images/house_pattern_2.png");
  background-color: #437e63;
  @include breakpoint($tablet) {
    height: 100vh;
    margin-top: -4em;
  }
  min-height: 500px;
  width: 100%;
  display: flex;
  animation: animatedBackground 25s linear infinite;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  @include breakpoint($tablet) {
    flex-direction: row;
  }
  .header-logo {
    align-self: center;
    width: 20em;
    margin-top: 2em;
    border-bottom: 8px solid white;
    @include breakpoint($tablet) {
      border-right: 8px solid white;
      margin-right: .5em;
      border-bottom: 0px solid white;
    }
    ul {
      margin: 0;
      width: 20em;
      li {
        a{
          color: white;
        }
      }
    }
  }
  .header-line {
    align-self: center;
    @include breakpoint($tablet) {
      margin-left: 3em;
    }
    h1 {
      color: white;
      font-size: 2.5em;
      margin-bottom: .5em;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: white;
      li {
        margin-top: .3em;
        img {
          height: 1em;
          margin-right: .8em;
        }
      }
    }
  }
}

.arrow {
  with: 100%;
  position: relative;
  bottom: 6em;
  text-align: center;
  animation: fadein .5s ease;
  svg {
    height: 3em;
    width: 4em;
    outline: none;
    display: none;
    @include breakpoint($tablet) {
      display: unset;
    }
  }
}

@mixin fade($start_bottom, $end_bottom) {
    from { 
      bottom: $start_bottom;
      opacity: 0; 
    }
    to { 
      opacity: 1; 
      bottom: $end_bottom;
    }
}

@keyframes fadein {
  @include fade(3em, 6em);
}
