header {
  background-image: url("../images/house_pattern.png");
  background-color: $blue-green;
  height: 70vh;
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  svg {
    
  }
  h1 {
    color: white;
    align-self: center;
    margin-left: 1em;
    font-size: 2.5em;
  }
}
