.l-about {
  @include container(12 100%);
  padding: 5em .5em;
  background-color: $light-green;
  width: 100vw;
  display: block;
  .content {
    @include breakpoint($tablet) {
      @include push(3)
      @include span(6);
    }
    p {
      color: white;
    }
    h1 {
      color: white;
      border-bottom: .3em solid white;
      width: 50%;
    }
    h2 {
      color: white;
    }
  }
  .staff-images{
    text-align: center;
    .image-card {
      @include breakpoint($tablet) {
        @include gallery(6);
      }
    }
  }
}
