.l-bottom-menu {
  position: fixed;
  bottom: 0;
  height: 4em;
  width: 100vw;
  background-color: $light-green;
  ul {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  li {
    color: $cool-gray;
    font-weight: 600;
  }
}

