.l-full-height {
  position: relative;
  @include container(12);
  background-color: $blue-green;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  svg {
    height: 40%; 
    position: relative;
    top: 5em;
    @include span( 6 of 12 );
  }
  display: flex;
  align-content: center;
  justify-content: center;
  .header-text {
    @include span( 6 of 12 last);
    margin-right: 10em;
    p {
      color: white;
    }
  }
  h1 {
    color: white;
    font-size: 8em;
    border-bottom: 16px solid white;
  }
}

:target {
  a {
    color: blue;
    background-color: blue;
  }
}
