.l-side-nav {
  width: 20%;
  background-color: $blue-green;
  a {
    text-decoration: none;
    font-size: 1.2em;
    li {
      list-style: none;
      color: white;
    }
  }
  position: fixed;
  top: -37em;
  padding-top: 57em;
  padding-left: 14%;
  padding-bottom: 100vh;
}
