.l-side-nav {
  display: none;
  width: 20%;
  background-color: $blue-green;
  svg {
    height: 180px;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      }
  }
  @include breakpoint($tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 35%;
    height: 100vh;
    text-align: right;
    padding: 0;
  }
}

:target {
  color: black;
  font-weight: 800;
  text-decoration: underline;
}
