.l-side-nav {
  display: none;
  width: 20%;
  background-color: $blue-green;
  svg {
    height: 180px;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      }
  }
  @include breakpoint($tablet) {
    position: fixed;
    top: -40em;
    padding-top: 57em;
    padding-left: 14%;
    padding-bottom: 100vh;
  }
}

:target {
  color: black;
  font-weight: 800;
  text-decoration: underline;
}
