nav {
  background-color: transparentize(white, .2);
  height: 3em;
  position: fixed;
  padding: 1em;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  .logo {
    height: 50px;
    width: 50px;
  }
  z-index: 100;
}
