nav {
  position: relative;
  display: block;
  background-color: white;
  height: 3em;
  padding: 1em;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  .logo {
    height: 50px;
    width: 50px;
  }
  z-index: 100;
}
