@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,600,900');
@import url('https://fonts.googleapis.com/css?family=Suez+One');

$primary-color: rgb(81, 31, 48);
$secondary-color: rgb(195, 30, 37);

$susy: (
    columns: 12,
    global-box-sizing: border-box,
    use-custom: (rem: true,
    output: isolate,
    ),
    debug:(
        image: hide 
        ),
    );

$mobile-layout: (
    columns: 4,
    global-box-sizing: border-box,
    use-custom: (rem: true,
    ),
    debug:(
        image: hide 
        ),
    );

$mobile: max-width 619px;
$tablet: 768px; 
$desktop: 900px; 
